* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    color: white;
    font-family: sans-serif;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    background-color: #333;
}