* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: fit-content;
    min-width: 230px;
    color: white;
}

#popup-content {
    display: grid;
    gap: 5px;
    padding: 5px 0;
    background-color: #111;
}

.option {
    width: 100%;
    height: fit-content;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.option:hover {
    background-color: #888;
}